{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center">Update Student</h1>
    <form action="/update/{{ studentInfo.id }}" method="post">
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <input type="text" name="first_name" class="form-control" value="{{ studentInfo.first_name }}"/>
            <label class="form-label" for="first_name">First name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" name="last_name" class="form-control" value="{{ studentInfo.last_name }}"/>
            <label class="form-label" for="last_name">Last name</label>
          </div>
        </div>
      </div>
      <div class="form-outline mb-4">
        <input type="number" name="year" class="form-control" value="{{ studentInfo.year }}"/>
        <label class="form-label" for="year">Year</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>
    </form>
</div>
{% endblock %}